page-home {

}

.backgr {
    background-image: url(/assets/imgs/back.jpg);
   background-size: 100% 100%;
}
.tran {
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        color: rgb(255, 255, 255); 
    }